/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
}

.section-heading {
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

button {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #e43d61;
}


/* header styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    margin-right: 97px;
}

.banner-text h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-text p {
    margin-bottom: 32px;
}

.banner-img img {
    width: 635px;
    height: 800px;
    vertical-align: middle;
}

/* main section */

/* feautured flower section  */
.flower-name {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
    text-align: center;
    text-decoration-line: underline;
}

.flower-text {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    gap: 20px;
}

.flowers {
    width: 464px;
    height: 538px;
    padding: 0 78px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}

.flower-img img {
    width: 310px;
    height: 428px;
    border-radius: 300px 300px 0px 0px;
}

.featured-flowers {
    background-color: #FFF;
}

.featured-flowers .section-heading h2 {
    margin-top: 178px;
}

.flower-delivery {
    margin: 128px 0;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 86px 175px;
}

/* deals design  */

.hot-deal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 200px;
}

.hot-deal-text {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hot-deal-description p{
    max-width: 594px;
    margin: 0 auto;
    align-items: center;
}

.hot-deal p{
    margin-bottom: 32px;
}

.hot-deal-img img{
    width: 318px;
    height: 420px;
}

.button-sign-up{
    text-align: center;
}

